<!--The content below is only a placeholder and can be replaced.-->

<h2 class="test">Angular, RxJS Polling Sample 코드 </h2>

<router-outlet></router-outlet>

<!-- index.html에 bootstrap 관련 css 추가함. -->
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Polling as Angular</td>
        <td><app-polling></app-polling></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>User Car Json</td>
        <td><app-user-car></app-user-car></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Bithumb 가격</td>
        <td><app-bithumb></app-bithumb></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>주가정보</td>
        <td><app-stock></app-stock></td>
        <td></td>
      </tr>
    </tbody>
  </table>

<router-outlet></router-outlet>
