

    <mat-form-field class='example-full-width'>
        <!-- @angular/forms 필요함.-->
      <input [(ngModel)]="stockCode" matInput placeholder="주식 코드" value="005930">

    </mat-form-field>
    <label #aaa>{{stockInfo}}</label>
    <!-- <mat-form-field class="example-full-width">
      <textarea #securityKey matInput placeholder="서비스 키" style="font-size: 8px;" >tWsiJ0%2FIv8UPsZBR8SgjpY%2FC1csSnzlZekS3QxfrwIskD57%2FFurR0911bILtteRGyYynZIJcunLNxvseO8%2Buiw%3D%3D</textarea>
    </mat-form-field> -->
    <!-- <button (click)="startSubscribe(stockCode.value, securityKey.value)">Add Contact</button> -->


